{% extends 'main/base.html' %}

{% block style %}
    <link href="/static/style_admin_panel.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="main__admin__menu">
        <a href="{% url 'users_db' %}" class="menu__item">Користувачі</a>
        <a href="{% url 'product_db' %}" class="menu__item">Товари</a>
        <a href="{% url 'category_db' %}" class="menu__item">Категорії</a>
        <a href="{% url 'order_db' %}" class="menu__item">Замовлення</a>
    </div>
    <div class="main__admin__panel">
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% block info_item %}{% endblock %}
    </div>
{% endblock %}

{% block script %}
    <script src="/static/ajax.js"></script>
{% endblock %}