{% extends 'admin_module/admin_panel.html' %}

{% block info_item %}
    {% if categories %}
        <div>
            <table>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        Категорія
                    </th>
                </tr>
        {% for category in categories %}
                <tr>
                    <td>
                        {{ category.id }}
                    </td>
                    <td>
                        {{ category.name }}
                    </td>
                    <td>
                        <a href="category/edit/{{ category.id }}" class="button_edit">Змінити</a>
                        <a href="category/delete/{{ category.id }}" class="button_delete">Видалити</a>
                    </td>
                </tr>
        {% endfor %}
            </table>
        </div>
    {% else %}
        <p>Список з товарами пустий</p>
    {% endif %}
    <a href="{% url 'add_category' %}" class="button_add">Нова категорія</a>
{% endblock %}