.main__admin__menu{
    width: 300px;
    background: #505050;
    padding: 20px 0 20px 20px;
}

.main__container{
    display: flex;
}

a{
    text-decoration: none;
    color: #e5e5e5;
}

.menu__item{
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    margin: 5px 0;
}

.menu__item:hover{
    color: #1a1c1e;
    background: #d9d4d4;
    border-radius: 10px 0 0 10px;
}

.main__admin__panel{
    background: #d9d4d4;
    width: 100%;
    padding: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td, th{
    border: 2px solid #707273;
    text-align: center;
    padding: 10px;
}

.button_edit, .button_delete{
    background: #207e10;
    padding: 5px;
    border-radius: 10px;
}
.button_edit:hover{
    background: #2fb916;
}
.button_delete{
    background: #a91515;
}
.button_delete:hover{
    background: #e71c1c;
}
.button_add{
    background: #707273;
    padding: 8px 15px;
    border-radius: 6px;
    border: 3px solid #707273;
    color: #d9d4d4;
    display: inline-block;
}
.button_add:hover{
    border-color: #1a1c1e;
}

td:last-child{
    border: 0 solid;
    border-block: 1px solid;
}
.active_item{
    border: 2px solid #a91515;
}

.admin_panel_product{
    width: 100%;
    background: white;
    padding: 15px;
    margin-top: 20px;
    display: flex;
}
.product_img img{
    width: 200px;
    height: 200px;
}
.product_info{
    margin-left: 20px;
    width: 100%;
    line-height: 20px;
}
.product_info p{
    margin-bottom: 15px;
}
.label__img{
    border: 3px solid #707273;
    border-radius: 6px;
    margin: 10px 0;
    padding: 10px;
    width: 400px;
}