{% extends 'main/base.html' %}

{% block main %}
    <div class="main__login">
        <h1>Створення нового товару</h1>
        <p></p>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ error }}
            <div>
                <label>Ім'я товару<br>
                    {{ form.name }}
                </label>
            </div>
            <div>
                <label>Картинка<br>
                    {{ form.image }}
                </label>
            </div>
            <div>
                <label>Ціна<br>
                    {{ form.price }}
                </label>
            </div>
            <div>
                <button type="submit" class="button__submit">Додати товар</button>
            </div>
        </form>
        <hr>
    </div>
{% endblock %}
