{% extends 'main/base.html' %}

{% block search %}
    <form method="get">
        <div class="search_block">
            <input type="search" name="search" placeholder="Введіть ім'я..." id="search_name_product">
            <button type="button" class="search_button" id="search_product" >Пошук</button>
        </div>
    </form>
{% endblock %}

{% block button %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <a href="{% url 'admin_panel' %}" class="button_create_product button">Адмін панель</a>
        {% endif %}
            <a href="{% url 'logout' %}" class="button_create_product button">Вийти</a>
            <a href="{% url 'account' %}" class="button_create_product button">Акаунт</a>
            <a href="{% url 'basket' %}" class="button__basket"><img src="/static/img/cart_negate.png" class="img__basket"></a>

    {% else %}
        <a href="{% url 'register' %}" class="button_register button">Зареєсруватися</a>
        <a href="{% url 'login' %}" class="button_login button">Увійти</a>

    {% endif %}
{% endblock %}


{% block main %}
    <div class="main__container__navigation">
        <form method="get">
            <h3 class="navigation__title">Розділ</h3>
            {% if categories %}
            <ul>
                {% for category in categories %}
                    <li>
                        <label>
                            <input type="checkbox" name="category" value="{{ category.name }}" class="filter_checkbox">
                            {{ category.name }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <h3 class="navigation__price">Ціна</h3>
                <div class="price-filter__content">
                    <div class="price__filter__content-label">
                        від
                    </div>
                    <div class="price__filter__content-input__block">
                        <input type="number" class="price-filter__content-input" id="price__from" value="0">
                    </div>
                    <div class="price__filter__content-label">
                        до
                    </div>
                    <div class="price__filter__content-input__block">
                        <input type="number" class="price__filter__content-input" id="price__to" value="9999">
                    </div>
                    <div class="price__filter__content-label">
                        ₴
                    </div>
                </div>
            <button type="button" class="button__submit" id="filter">Застосувати</button>
        </form>
        <form>
            <button type="submit" class="button__submit">Очистити фільтри</button>
        </form>
        {% endif %}
    </div>

    <div class="main__container__items items">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div id="products">
            {% if products %}
                {% for p in products %}
                    <div class="items__product">
                        <img src="photo_product/{{ p.image }}" width="100" height="100">
                        <div class="product__info">
                            <h3>{{ p.name }}</h3>
                            <div class="product__price">
                                <div class="info">
                                    {% if p.number == 0 %}
                                        <p class="product__number">Немає в наявності</p>
                                    {% endif %}
                                    <div class="block__basket__and__price">
                                        <div>
                                            {% if p.discount != 0 %}
                                                <div class="product__price__old">
                                                    <s><p>{{ p.price }} грн</p></s>
                                                    <span class="product__discount">
                                                        -{{ p.discount }}%
                                                    </span>
                                                </div>
                                                <p class="product__price">{{ p.discounted_price }} грн</p>
                                            {% else %}
                                                <p>{{ p.price }} грн</p>
                                            {% endif %}
                                        </div>
                                        <a href="add_item_basket/{{ p.id }}/"><img src="/static/img/cart.png" class="basket"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Список з товарими пустий</p>
            {% endif %}
        </div>
        <div class="button__show__items">
            {% if products %}
                <a class="button__submit show__item">Показати ще</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/ajax.js"></script>
{% endblock %}
<!--<a href="{% url 'home' %}">Home</a>-->
<!--<a href="{% url 'login' %}">Login</a>-->
