{% extends 'main/base.html' %}

{% block search %}
    <form method="get">
        <input type="search" name="search" placeholder="Введіть назву...">
        <button type="submit" class="button">Пошук</button>
    </form>
{% endblock %}

{% block button %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <a href="{% url 'admin_panel' %}" class="button_create_product button" xmlns="http://www.w3.org/1999/html">Адмін панель</a>
        {% endif %}
            <a href="{% url 'logout' %}" class="button_create_product button">Вийти</a>
            <a href="{% url 'account' %}" class="button_create_product button">Акаунт</a>
    {% else %}
        <a href="{% url 'register' %}" class="button_register button">Зареєсруватися</a>
        <a href="{% url 'login' %}" class="button_login button">Увійти</a>
    {% endif %}
{% endblock %}


{% block main %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="main__container__navigation">
        <h3>Фільтр</h3>
        {% if categories %}
        <form method="get">
            <ul>
                {% for category in categories %}
                    <li>
                        <label>
                            <input type="checkbox" name="category" value="{{ category.name }}">{{ category.name }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit">Шукати</button>
        </form>
        {% endif %}
    </div>
    <div class="main__container__items">
        {% if products %}
        {% for p in products %}
            <div>
                <img src="photo_product/{{ p.image }}" width="100" height="100">
                <h3>{{ p.name }}</h3>
                <p>{{ p.price }} грн</p>
                <p>{{ p.discounted_price }} грн</p>
                <p>{{ p.categories }} </p>
            </div>
        {% endfor %}
        {% else %}
            <p>Список з товарими пустий</p>
        {% endif %}
    </div>


{% endblock %}
<!--<a href="{% url 'home' %}">Home</a>-->
<!--<a href="{% url 'login' %}">Login</a>-->
