{% extends 'main/base.html' %}

{% block main %}
    <div class="main__login">
        {% for message in messages %}
        <div class="errorlist">{{ message }}</div>
        {% endfor %}
        <h1>Авторизація</h1>
        <p></p>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div>
                <label>Логін<br>
                    {{ form.username }}
                </label>
            </div>
            <div>
                <label>Пароль<br>
                    {{ form.password }}
                </label>
            </div>
            <div>
                <button type="submit" class="button__submit">Увійти</button>
            </div>
        </form>
        <hr>
        <a>У вас немає облікового запису?  </a><a href="{% url 'register' %}">Зареєструватися</a>
    </div>
{% endblock %}