{% extends 'admin_module/admin_panel.html' %}

{% block info_item %}
    {% for f in form %}
        {% if f.errors %}
            {{ f.errors }}
        {% endif %}
    {% endfor %}
    <h1>Створення нового товару</h1>
    <hr>
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% load widget_tweaks %}
        <div>
            <label>Ім'я товару<br>
                {{ form.name }}
            </label>
        </div>
        <div>
            <label>Картинка<br>
                {{ form.image }}
            </label>
        </div>
        <div>
            <label>Опис продукту<br>
                {{ form.description }}
            </label>
        </div>
        <div>
            <label>Ціна<br>
                {{ form.price }}
            </label>
        </div>
        <div>
            <label>Знижка<br>
                {{ form.discount }}
            </label>
        </div>
        <div>
            <label>Кількість<br>
                {{ form.number }}
            </label>
        </div>
        <div>
            <label>Категорія<br>
                {{ form.categories }}
            </label>
        </div>
        <div>
            <button type="submit" class="button__submit">Додати товар</button>
        </div>
        </form>
        <hr>
    </div>
{% endblock %}
