{% extends 'admin_module/admin_panel.html' %}

{% block info_item %}
    {% for f in form %}
        {% if f.errors %}
            {{ f.errors }}
        {% endif %}
    {% endfor %}
    <h1>Зміна інформації користувача</h1>
        <p></p>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label>Ім'я<br>
                    {{ form.first_name }}
                </label>
            </div>
            <div>
                <label>Призвище<br>
                    {{ form.last_name }}
                </label>
            </div>
            <div>
                <label>Логін<br>
                    {{ form.username }}
                </label>
            </div>
            <div>
                <label>Почта<br>
                    {{ form.email }}
                </label>
            </div>
            <div>
                <button type="submit" class="button__submit">Зберегти</button>
            </div>
        </form>
{% endblock %}