{% extends 'admin_module/admin_panel.html' %}

{% block info_item %}
    <form method="get">
        <div class="search_block">
            <input type="search" name="search" placeholder="Введіть ім'я..." id="search_name_user">
            <button type="button" class="search_button" id="search_user" style="border-color: #1a1c1e; color: #1a1c1e" >Пошук</button>
        </div>
    </form>
    {% if users %}
        <div id="users">
            <table id="table">
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        Ім'я
                    </th>
                    <th>
                        Призвище
                    </th>
                    <th>
                        Логін
                    </th>
                    <th>
                        Пошта
                    </th>
                    <th>
                        Адмін
                    </th>
                </tr>
        {% for user in users %}
                <tr>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.first_name }}
                    </td>
                    <td>
                        {{ user.last_name}}
                    </td>
                    <td>
                        {{ user.username}}
                    </td>
                    <td>
                        {{ user.email}}
                    </td>
                    <td>
                        {% if user.is_superuser %}+{% else %}-{% endif %}
                    </td>
                    <td>
                        <a href="users/edit/{{ user.id }}" class="button_edit">Змінити</a>
                        <a href="users/delete/{{ user.id }}" class="button_delete">Видалити</a>
                    </td>
                </tr>
        {% endfor %}
            </table>
        </div>
    {% else %}
        <p>Список з користувачами пустий</p>
    {% endif %}
{% endblock %}
