{% extends 'main/base.html' %}

{% block main %}
    <div class="main__account">
        <h1>Ваші персональні дані</h1>
        <hr>
        <div class="main__info">
            <div class="main__user__info">
                <table class="table__info">
                    <tr>
                        <th>Ім'я:</th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Призвище:</th>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Логін:</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Почта:</th>
                        <td>{{ user.email }}</td>
                    </tr>
                </table>
            </div>
            <div>
                <a href="account/edit/{{ user.id }}/" class="button edit__user">Змінити данні</a>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}